@import "tailwindcss";
        
@theme {
        --color-clifford: #da373d;
        --color-primary: #3ECF4C;
        --color-primary-100: rgba(226, 252, 217, 0.8);
        --color-primary-200: rgba(192, 250, 180, 1);
        --color-primary-300: rgba(148, 240, 139, 1);
        --color-primary-400: rgba(107, 226, 107, 1);
        --color-secondary: #FFBD3A;
        --color-tertiary: #F64920;
        --color-black-primary: #222325;
        --color-black-secondary: rgba(51, 51, 51, 0.68);
        --color-black-disable: rgba(58, 53, 65, 0.38);
        --color-light-primary: #FFFFFF;
        --color-light-secondary: #C1C2C4;
        --color-light-disable: #9D9EA1;
        --color-info-pressed: #044AA2;
        --color-info-hover: #0663C2;
        --color-info-default: #0980E2;
        --color-info-background: #EBF9FE;
        --color-success-pressed: #1C9675;
        --color-success-hover: #28B380;
        --color-success-default: #38D189;
        --color-success-background: #E0FDDF;
        --color-warning-pressed: #B5A40D;
        --color-warning-hover: #D8C613;
        --color-warning-default: #FCE91B;
        --color-warning-background: #FCF8CA;
        --color-error-pressed: #B72315;
        --color-error-hover: #DB3D1F;
        --color-error-default: #FF5C2B;
        --color-error-background: #FCE3D1;
        --color-background-body:rgba(255, 253, 243, 1);
        --color-other-border: rgba(58, 53, 65, 0.12);
        --font-display: "Lato", sans-serif;
        }

         .hide-scrollbar {
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* IE 10+ */
        }
        .hide-scrollbar::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
        
/* @layer base {
    body {
        font-display: "Lato", sans-serif;
         
    }
} */

        